.todo-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #c2a9a9;
  width: fit-content;
  padding: 10px 20px 20px;
  margin: 30% auto;
  border-radius: 10px;

}

h1{
  text-align: center;
}

.input-field{
  padding: 6px 10px;
  margin: 5px;
  margin-right: 20px;
  width: 300px;
  border: none;
}

button {
  padding: 6px 10px;
  margin: 10px;
  font-weight: bold;
  color: black;
  border: none;
  background-color: antiquewhite;
  border-radius: 10px;
}

li{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

span {
  font-size: 18px;
  color: #15211a;
  font-weight:600 ;
  margin: 0px 10px;
  margin-left: 0;
  padding-left: 0;

}